build
node_modules
.DS_Store
*.zip
DNU

.idea/
.claude
.cursor
.DS_Store
.php_cs.cache
.phpunit.result.cache
.sass-cache
.vscode/settings.json
*.code-workspace
.windsurf
.windsurfrules
.wp-env.override.json
CLAUDE*
